# Python
__pycache__/
*.py[cod]
*.pyd
*.so
*.egg-info/
.eggs/

# Virtual environments
venv/
.env/
.venv/

# Environment variables
.env
.env.*

# Django
*.log
local_settings.py
*.sqlite3
media/
staticfiles/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db
